body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
ul{
     display: flex;
}
li{
    list-style-type:none;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-around;
    align-items:space-around;
    align-content:space-around;
}
